// Congreso Internacional de Educación
#cieModal.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Congreso Internacional de Educación
                            p.item-intro.text-muted Fechas
                            img.img-fluid.d-block.mx-auto(src='https://tecnosoluciones.com/wp-content/uploads/2018/11/Educacion-virtual.jpg', alt='...')
                            p Se convoca a todas las personas que realizan investigación en educación a participar con sus trabajos
                            ul.list-inline
                                li
                                    strong Temas:
                                    | Educación continua, 
                                    | Modelos educativos
                                li
                                    strong Publicación:
                                    | Revista de la Science, Tech & Humanities

                            button.btn.btn-primary.btn-xl.text-uppercase.m-2(type='button')
                                i.fas.fa-info-circle.me-1
                                |Más información
                            button.btn.btn-primary.btn-xl.text-uppercase.m-2(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Close Project